* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: blanchedalmond;
}
h1 {
  background-color: #081b31;
  color: white;
  height: 3rem;
  text-align: center;
  line-height: 3rem;
}
.choice {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice:hover {
  cursor: pointer;
  background-color: rgb(17, 5, 242);
}
img {
  height: 160px;
  width: 160px;
  border-radius: 50%;
}
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 3rem;
}
.score-board {
  display: flex;
  text-align: center;
  justify-content: center;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
  gap: 2rem;
}
.msg-container {
  margin-top: 5rem;
  text-align: center;
}
#msg {
  background-color: black;
  color: white;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}
#user-score,
#computer-score {
  font-size: 3rem;
}
